In [66]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
import os
import requests
from PIL import Image
from datetime import datetime

In [61]:
DATABASE_URL = 'postgresql://postgres:vonuhuyentran1202@localhost:5432/cinema'

# Tạo engine kết nối
engine = create_engine(DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

# Mở session mới
session = SessionLocal()

In [62]:
data = requests.get('https://cinestar.com.vn/_next/data/NoS7vIxIJBTsZY1pKDKmL/showtimes.json').json()
data = data['pageProps']['res']['listMovie']

In [67]:
DATABASE_URL = 'postgresql://postgres:vonuhuyentran1202@localhost:5432/cinema'

# Tạo engine kết nối
engine = create_engine(DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

# Mở session mới
session = SessionLocal()

name_vn = [movie['name_vn'] for movie in data]
name_en = [movie['name_en'] for movie in data]
director = [movie['director'] for movie in data]
actor = [movie['actor'] for movie in data]
duration = [movie['time'] for movie in data]

released_date = [movie['release_date'] for movie in data]
released_date = [datetime.strptime(date, '%m/%d/%Y %I:%M:%S %p') for date in released_date]
released_date = [datetime.strftime(date, '%Y-%m-%d %H:%M:%S') for date in released_date]

end_date = [movie['end_date'] for movie in data]
end_date = [datetime.strptime(date, '%m/%d/%Y %I:%M:%S %p') for date in end_date]
end_date = [datetime.strftime(date, '%Y-%m-%d %H:%M:%S') for date in end_date]

brief_vn = [movie['brief_vn'] for movie in data]
brief_en = [movie['brief_en'] for movie in data]
status = [str(int(movie['status']) - 1) for movie in data]
image_url = [movie['image'] for movie in data]

country_name_vn = [movie['country_name_vn'].title() for movie in data]
country_id = [session.execute(text("SELECT id FROM country WHERE name_vn = :name_vn"), {'name_vn': country_name_vn[i]}).fetchone()[0] for i in range(len(data))]

format_name_vn = [movie['formats_name_vn'] for movie in data]
format_id = [session.execute(text("SELECT id FROM format WHERE name_vn = :name_vn"), {'name_vn': format_name_vn[i]}).fetchone()[0] for i in range(len(data))]

limitage_vn = [movie['limitage_vn'] for movie in data]
limitage_id = [session.execute(text("SELECT id FROM limit_age WHERE name_vn = :name_vn"), {'name_vn': limitage_vn[i]}).fetchone()[0] for i in range(len(data))]

language_name_vn = [movie['language_vn'] for movie in data]
languae_id = [session.execute(text("SELECT id FROM language WHERE name_vn = :name_vn"), {'name_vn': language_name_vn[i]}).fetchone()[0] for i in range(len(data))]

query = text('INSERT INTO movie (name_vn, name_en, director, actor, duration, released_date, end_date, brief_vn, brief_en, status, image_url, country_id, format_id, limit_age_id, language_id) VALUES (:name_vn, :name_en, :director, :actor, :duration, :released_date, :end_date, :brief_vn, :brief_en, :status, :image_url, :country_id, :format_id, :limitage_id, :language_id)')
for i in range(len(data)):
    session.execute(query, {'name_vn': name_vn[i], 'name_en': name_en[i], 'director': director[i], 'actor': actor[i], 'duration': duration[i], 'released_date': released_date[i], 'end_date': end_date[i], 'brief_vn': brief_vn[i], 'brief_en': brief_en[i], 'status': status[i], 'image_url': image_url[i], 'country_id': country_id[i], 'format_id': format_id[i], 'limitage_id': limitage_id[i], 'language_id': languae_id[i]})
    session.commit()

In [100]:
DATABASE_URL = 'postgresql://postgres:vonuhuyentran1202@localhost:5432/cinema'

# Tạo engine kết nối
engine = create_engine(DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

# Mở session mới
session = SessionLocal()

type_name_vn = [
    movie['type_name_vn'].split(', ') for movie in data
]
type_name_vn = [
    [str(type_name.lower()).capitalize() for type_name in type_names]
        for type_names in type_name_vn
]

for i in range(len(type_name_vn)):
    for j in range(len(type_name_vn[i])):
        if type_name_vn[i][j] == "Hài":
            type_name_vn[i][j] = "Hài hước"
            
type_id = [
    [session.execute(text("""
        SELECT id FROM genre WHERE name_vn = :type_name
    """), {'type_name': type_name}).fetchone()[0] 
        for type_name in type_names]
            for type_names in type_name_vn
]

movie_id =  session.execute(text("""
                SELECT id FROM movie
            """)).fetchall()

query = text("""
    INSERT INTO movies_and_genres (movie_id, genre_id) VALUES 
        (:movie_id, :genre_id)
""")
for id_ , t_ids in zip(movie_id, type_id):
    for t_id in t_ids:
        session.execute(query, {'movie_id': id_[0], 'genre_id': t_id})
        session.commit()